{% extends 'admin/base.html.twig' %}

{% block title %}Nouvel évenement{% endblock %}

{% block body %}

    <h1 class="d-flex justify-content-center text-bg-info">Créer un nouvel évenement</h1>
    <a href="{{ path('admin_event_index') }}"><< Retour aux avis</a>
    {{ include('admin/event/_form.html.twig') }}
    
{% endblock %}
