<div class="row mt-4">
    <div class="d-flex justify-content-center">
        <div class="button-group">
            <div class="d-flex  flex-row ">
                {% for massCategory in massCategories %}

                    <a href="{{ path('massage_by_category', {'slug' : massCategory.slug}) }}" 
                    class="btn btn-cat my-2 my-md-0 mx-0 mx-md-2 w-100 d-flex align-items-center justify-content-center">{{ massCategory.name }}</a>
                    
                {% endfor %}
            </div>
        </div>
    </div>
</div>