{% extends 'base.html.twig' %}

{% block title %}Mes prestations : Cabinet de Bien-Être-Sandrine-Picod{% endblock %}

{% block content %}
<h1 class="d-flex justify-content-center">Mes prestations</h1>

        <div class="">
            {% include 'massage/_category.html.twig' %}
        </div>

    <br>
    <br>

{% endblock %}
