{% extends 'base.html.twig' %}

{% block title %}Mes prestations : Cabinet de Bien-Être-Sandrine-Picod{% endblock %}

{% block content %}
<h1 class="d-flex justify-content-center">Mes prestations</h1>

        <div class="">
            {% include 'massage/_category.html.twig' %}
        </div>

    <br>
    <br>
    <div class="flower col-12 position-relative d-flex justify-content-center">
        <img class="flower" height="200" src="/build/images/logoFleur.4900bed2.png" alt="">
    </div>
{% endblock %}

