<form method="post" action="{{ path('admin_feedback_delete', {'id': feedback.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cet avis?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ feedback.id) }}">
    <button class="btn btn-danger">SUPPRIMER</button>
</form>
