<form method="post" action="{{ path('admin_massage_delete', {'id': massage.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer ce massage?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ massage.id) }}">
    <button class="btn btn-danger m-3">SUPPRIMER</button>
</form>
