{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau Massage{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center text-bg-info">Créer un nouveau massage</h1>
    <a class="h5 p-3 mb-4" href="{{ path('admin_massage_index') }}"><< Retour aux Massages</a>
    {{ include('admin/massage/_form.html.twig') }}
    
{% endblock %}
