<form method="post" action="{{ path('admin_about_delete', {'id': about.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ about.id) }}">
    <button class="btn">Supprimer</button>
</form>
