{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle page Qui suis je? {% endblock %}

{% block body %}
    <h1>Créer un nouvelle page Qui suis je?</h1>

    {{ include('admin/about/_form.html.twig') }}

    <a href="{{ path('admin_about_index') }}">Retour</a>
{% endblock %}
