<nav class="main-nav bg-info">
    <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 250px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
            
            <span class="fs-3 text-primary">Cabinet<br> de Bien-Être</span>
        </a>
        <hr class="text-primary">
        <ul class="nav nav-pills flex-column mb-auto">
            {% set links = [
                {'title': 'ACCUEIL', 'path': 'dashboard'},
                
                {'title': 'QUI-SUIS-JE', 'path': 'admin_about_index'},
                {'title': 'UTILISATEURS', 'path': 'admin_user_index'},
                {'title': 'CATEGORIES(massages)', 'path': 'admin_mass_category_index'},
                {'title': 'MASSAGES', 'path': 'admin_massage_index'},
                {'title': 'FORFAITS', 'path': 'admin_pack_index'},
            ] %}
            {% for link in links %}
                <li class="nav-item">
                    <a href="{{ path(link.path) }}"
                       class="nav-link {{ app.request.pathInfo == path(link.path) ? 'active' : 'text-primary' }}">
                        {{ link.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
