<form method="post" action="{{ path('admin_prod_category_delete', {'id': prod_category.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cette catégorie et tous ses produits?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prod_category.id) }}">
    <button class="btn btn-danger">SUPPRIMER</button>
</form>
