{% extends 'base.html.twig' %}

{% block title %}E-Boutique : Cabinet de Bien-Être-Sandrine-Picod{% endblock %}

{% block content %}
<h1 class="d-flex justify-content-center">E-Boutique</h1>

        <div class="">
            {% include 'product/_category.html.twig' %}
        </div>

    <br>
    <br>
{% endblock %}
