<form method="post" action="{{ path('admin_mass_category_delete', {'id': mass_category.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cette catégorie et tous ses massages?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mass_category.id) }}">
    <button class="btn btn-danger m-2 editDelete">SUPPRIMER</button>
</form>
