{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block content %}
    <h1 class="d-flex justify-content-center">Inscription</h1>

    {% if notification %}
        <div class="alert alert-warning">{{ notification }}</div>
        <hr>
    {% endif %}

    {{ form(form) }}
    
{% endblock %}
