.contact-card{
    min-width: 45%;
    height: 8rem;
    background: none;
    border: 2px solid #345A92;
    border-radius: 1.75rem;
    box-shadow: 0px 4px 4px #B6DFE4;
}

.card-text{
    font-weight: lighter;
}