.footer-custom p{
    text-align: center;
    position: absolute;
    /* bottom: 0; il faut le virer c'est lui qui empeche le footer d'etre en bas*/ 
    width: 100%;
    //background-color: #dfeaff;
    padding: 25px 0 15px 0;
    margin: 0;
    margin-top: 50px;
}

.float-right{
    margin-left: 20px;
}

a.btn.footer.btn-ext{
    width: 10rem;
    margin-inline: 0.5rem;
}
div.flower{
    padding:0;
}

img.flower{
    position: none;
    height: 120px;
    object-fit: cover;
    
}

@media (min-width:1023px) {
    img.flower{
        position: absolute;
        bottom:0;
        right:0;
        padding: 0 30px 0 0;//top - right - bottom - left
        object-fit: cover;
    }
}

@media (min-width:768px) {
    img.flower{
        position: absolute;
        bottom:0;
        right:0;
        padding: 0;//top - right - bottom - left
        object-fit: contain;
    }
}