/* Center align the text within the three columns below the carousel */
.massage .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.massage h2 {
    font-weight: 100;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}
.massage .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* descriptions
------------------------- */
.row-description{
    align-items: center;
}

.description-divider {
    margin: 2rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the massage headings */
.description-heading {
    font-weight: 100;
    line-height: 1;
    letter-spacing: -.05rem;

}



/* Sandrine title */

@media (min-width: 1400px) {
    .sandrineTitle{
        font-size: 60px;
    }
    
}

@media (max-width: 1660px) {
    .row-description{
        justify-content: center;
    }
    
}

/* Card A LA UNE AGENDA */
.agenda-card-content{
    display: flex;
    justify-content: center;
}
.agenda-card{
    max-width: 30rem;
    background: none;
    border: 2px solid #345A92;
    border-radius: 30px;
}

.agenda-card-body{
    display:flex;
    flex-direction: column;
    padding-bottom: 0;
}
.agenda-card-illustration{
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    .agenda-card{
        display:grid;
    }
    .agenda-card-body{
        display: flex;
        flex-direction: row;
    }
}

.intervention{
    font-family: "Quicksand";
}

.card-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #345A92;
}

.img-home{
    border-radius: 30px;
    height : 300px;
    width: 500px;
    object-fit: cover;
}

/* HOME/EVENT EXT ------------------------- */
.news{
    font-family: "Quicksand";
}

.btn-agenda{
    background-image: linear-gradient(180deg, #B6DFE4 0%, #DEF0F2 52.08%, #ECF2F5 100%);
    margin: 1rem;
    box-shadow: 0px 4px 4px #B6DFE4;
    border-radius: 60px;
    color:#345A92;
}

@media (max-width: 1000px) {
    .agenda-card{
        width:100%;
    }
    .row-ac{
        align-items: center;
    }
    .agenda-card-right{
        padding:0.8rem;
    }
}