.nav-title{
    color: #345A92;
    text-decoration: none;
    margin-inline: 1rem;
    font-size: 14px;
}



@media (max-width: 1000px) {
    .nav-title{
        font-size: 14px;
    }        
    
}