{% extends 'admin/base.html.twig' %}

{% block title %}Edit Logo{% endblock %}

{% block body %}
    <h1>Edit Logo</h1>

    {{ include('admin/logo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_logo_index') }}">back to list</a>

    {{ include('admin/logo/_delete_form.html.twig') }}
{% endblock %}
