{% extends 'admin/base.html.twig' %}

{% block title %}Logo index{% endblock %}

{% block body %}
<h1 class="d-flex justify-content-center text-bg-info">Gestion du Logo du cabinet</h1>

    <table class="table">
        
       
        {% for logo in logos %}
            <tr>
            

                <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid " 
                    src="{{ asset('/uploads/images/' ~ logo.logoPro) }}" 
                    height="500" width="500"
                    alt="{{ logo.logoPro }}">
                    
                
                <button type="button" class="btn btn-primary mb-2">
                    <a class="text-decoration-none text-light" href="{{ path('admin_logo_edit', {'id': logo.id}) }}">
                        MODIFIER 
                    </a>
                </button>
                
            </tr>
       
        {% endfor %}
       
    </table>

{% endblock %}
