<form method="post" action="{{ path('admin_pack_multi_delete', {'id': packCatMulti.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer ce titre?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ packCatMulti.id) }}">
    <button class="btn btn-danger m-2 editDelete">SUPPRIMER</button>
</form>
