{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau titre de forfait multiple{% endblock %}

{% block body %}
<h1 class="d-flex justify-content-center text-bg-info">Créer un nouveau titre de forfait multiple</h1>
<a class="h5 p-3" href="{{ path('admin_pack_multi_index') }}"><< Retour aux Titres de forfait multiple</a>
{{ include('admin/pack/_multi_form.html.twig') }}

{% endblock %}
