<div class-"footer-custom">
    <p class="float-right"><a href="#">Revenir en haut</a></p>

    <div class="">
        <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
        <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
        <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
    </div>

    <p class="text-center">&copy; 2022-Now Cabinet de Bien-Être - Sandrine Picod.<br> &middot; 
        <a href="#">Privacy</a> &middot; 
        <a href="#">Terms</a>
    </p>
    
</div>
