{% extends 'base.html.twig' %}

{% block title %}page introuvable : Cabinet de Bien-Être-Sandrine-Picod{% endblock %}

{% block content %}
    <div class="block-small">
        <h1 class="titleError d-flex justify-content-center display-2 py-5">Page Introuvable</h1>
        <div class="d-flex justify-content-center">
            
        </div>
        <p class="textError d-flex justify-content-center text-center h3">Désolé cette page ne semble pas être accessible pour le moment.</p>
        <a class="linkError d-flex justify-content-center h3" href="{{ path('home') }}">Retour Cabinet de Bien-Être-Sandrine-Picod</a>
    </div>
    <br>
    <br>

{% endblock %}
